In [6]:
import pandas as pd

In [7]:
df = pd.read_parquet("yellow_tripdata_2021-01.parquet")

In [9]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [11]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [16]:
df.to_sql("yellow_taxi_data", con=engine, if_exists="replace")

769

### -----------------------------------------------------------END-----------------------------------------------------------